@page
@model LTS.Pages.Register.IndexModel
@{
  ViewData["Title"] = "Register";
}


<form id="registerForm" method="post" autocomplete="off" class="mb-5">
  <div class="mb-3">
    <label for="inputName" autocomplete="off" class="form-label">이름</label>
    <input asp-for="Name" type="text" class="form-control" id="inputName" autocomplete="off">
    <div class="form-text">2글자 최대 5글자 까지 가능합니다.</div>
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="inputInitial" class="form-label">이름 이니셜</label>
    <input asp-for="Initial" type="text" class="form-control" id="inputInitial" autocomplete="off">
    <div class="form-text">이니셜은 영어 대문자,숫자만 가능하며, 최소 2글자 최대 5글자 까지 가능합니다.</div>
    <span asp-validation-for="Initial" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="inputPhoneNumber" class="form-label">전화번호</label>
    <input asp-for="PhoneNumber" type="text" class="form-control" id="inputPhoneNumber" autocomplete="off">
    <div class="form-text">중간 구분자 '-' 없이 입력하세요.</div>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
  </div>
  <div>
    <div class="mb-3"></div>
    <label for="effectiveDate" class="form-label">근무 시작일</label>
    <input asp-for="EffectiveDate" type="date" class="form-control" id="effectiveDate" autocomplete="off">
    <span asp-validation-for="EffectiveDate" class="text-danger"></span>
  </div>
  <div class="dropdown">
    <button id="storeButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false" autocomplete="off">매장 선택</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" onclick="changeStoreButtonText('광안동','GA')">광안동</a></li>
      <li><a class="dropdown-item" href="#" onclick="changeStoreButtonText('은행동','EH')">은행동</a></li>
    </ul>
    <span asp-validation-for="StoreName" class="text-danger"></span>
  </div>
  <div class="dropdown">
    <button id="roleButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false" autocomplete="off">권한 선택</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item " onclick="changeRoleButtonText('매니저','Manager')">매니저</a></li>
      <li><a class="dropdown-item " onclick="changeRoleButtonText('스태프','Staff')">스태프</a></li>
    </ul>
    <span asp-validation-for="RoleName" class="text-danger"></span>
  </div>
  <input asp-for="StoreName" type="hidden" name="StoreName" id="hiddenStoreInput" autocomplete="off">
  <input asp-for="RoleName" type="hidden" name="RoleName" id="hiddenRoleInput" autocomplete="off">
  <button type="submit" class="btn btn-primary h-100" autocomplete="off">저장</button>
</form>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<script>
  function changeStoreButtonText(storeName, storeNameToEnglish) {
    document.getElementById("storeButton").textContent = storeName;
    document.getElementById("hiddenStoreInput").value = storeNameToEnglish;
  }
  function changeRoleButtonText(roleName, roleNameToEnglish) {
    document.getElementById("roleButton").textContent = roleName;
    document.getElementById("hiddenRoleInput").value = roleNameToEnglish;
  }

  document.addEventListener("DOMContentLoaded", function () {
    const today = new Date().toISOString().split("T")[0];
    document.getElementById("effectiveDate").value = today;
  });
</script>
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true">