@page
@model LTS.Pages.IndexModel
@{
    ViewData["Title"] = "Login";
}
<div class="login-container">
    <h2>로그인</h2>

    <form class="form-container" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-floating mb-3">
            <input asp-for="Username" class="form-control" autocomplete="off" id="floatingUsername"
                placeholder="아이디 입력" />
            <label for="floatingUsername">ID</label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" id="floatingPassword" type="password"
                placeholder="비밀번호 입력" />
            <label for="floatingPassword">PW</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary h-100 w-100">Login</button>
        </div>
    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@section Styles {
    <link rel="stylesheet" href="~/css/Index.css" />
}